<div *ngIf="cartProducts.length; else cartIsEmpty">
  <select [(ngModel)]="sortBy">
    <option selected>Price</option>
    <option>Quantity</option>
    <option>Name</option>
  </select>
  <p></p>
  <ng-container *ngIf="(cartProducts | orderBy: sortBy) as result">
    <app-cart-item
      *ngFor="let product of result"
      [product]="product"
      (addItem)="onAddItem($event)"
      (deleteItem)="onDeleteItem($event)"
      (removeItem)="onRemoveItem($event)">
    </app-cart-item>
  </ng-container>
  <div>
    Total quantity: {{getTotalQuantity()}}
  </div>
  <div>
    Total price: {{getTotalPrice() | currency: 'USD':'symbol':'1.2-2'}}
    <p></p>
  </div>
  <div>
    <button (click)="onRemoveAll()">
      Clear cart
    </button>
  </div>
</div>
<ng-template #cartIsEmpty>
  <h3>Cart is empty, please start shopping :)</h3>
</ng-template>