<div *ngFor="let product of products">
  <table>
    <caption>{{product.name}}</caption>
    <tr><td>Description</td><td>{{product.description}}</td></tr>
    <tr><td>Price</td><td>{{product.price}}</td></tr>
    <tr><td>Category</td><td>{{product.category}}</td></tr>
    <tr>
      <td>Availability</td>
      <td>
        <div *ngIf="product.isAvailable; else notAvailable">Buy it now</div>
        <ng-template #notAvailable>Notify when appear</ng-template>
      </td>
    </tr>
    <tr>
      <td>Available colors</td>
      <td *ngFor="let color of product.colors;">{{color}}</td>
    </tr>
  </table>
  <p></p>
</div>